In [21]:
from datetime import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

df = pd.read_csv("2017_tweets_grouped.csv")

firstTweet = True
compound_list =[]
sentiments =[]
count =0

for index, row in df.iterrows():
    #Run Vader Analysis on each tweet
    sentence =row["text"]
    #Tweet datetime object
    new_date = row["created_at"]
    if(firstTweet == False):
        if(old_date != new_date):
            compound= np.mean(compound_list)
            compound_list =[]
            #Store the Sentiments
            sentiments.append({"Compound":compound,
                "Date" : old_date,
                "Count" : count})
            #Resetting count
            count =0
    else:
        firstTweet = False
    compound_list.append(analyzer.polarity_scores(sentence)["compound"])
    count +=1
    old_date = new_date
	
#Put all data into dataframe and export to csv file
sentiments_df = pd.DataFrame.from_dict(sentiments)
sentiments_df

     Compound  Count        Date
0    0.068473     11  2017-01-20
1    0.436867      3  2017-01-21
2    0.244400      4  2017-01-22
3    0.493900      1  2017-01-23
4    0.354225      4  2017-01-24
5    0.058888      8  2017-01-25
6    0.080818     11  2017-01-26
7    0.287157      7  2017-01-27
8   -0.090020      5  2017-01-28
9   -0.403371      7  2017-01-29
10  -0.156914      7  2017-01-30
11  -0.036433      3  2017-01-31
12   0.268300      4  2017-02-01
13   0.041025      8  2017-02-02
14  -0.167771      7  2017-02-03
15  -0.482300      9  2017-02-04
16   0.186117      6  2017-02-05
17  -0.039833      6  2017-02-06
18  -0.512400      5  2017-02-07
19   0.139073     11  2017-02-08
20   0.247950      8  2017-02-09
21  -0.167867      3  2017-02-10
22   0.453700      9  2017-02-11
23  -0.136622      9  2017-02-12
24   0.398700      3  2017-02-13
25   0.232850      6  2017-02-14
26   0.017600     11  2017-02-15
27  -0.189667      6  2017-02-16
28  -0.149363      8  2017-02-17
29   0.006125      4  2017-02-18
..        ...    ...         ...
315 -0.025733      9  2017-12-01
316  0.242975      4  2017-12-02
317 -0.279821     14  2017-12-03
318  0.041250      4  2017-12-04
319  0.666000      2  2017-12-05
320  0.419200      5  2017-12-06
321  0.217589      9  2017-12-07
322  0.087387      8  2017-12-08
323  0.269871     14  2017-12-09
324  0.002900      4  2017-12-10
325 -0.934000      1  2017-12-11
326 -0.112480      5  2017-12-12
327  0.529880      5  2017-12-13
328  0.384214      7  2017-12-14
329  0.842775      4  2017-12-15
330  0.187425      8  2017-12-16
331  0.372650      2  2017-12-17
332  0.435646     13  2017-12-18
333  0.821540      5  2017-12-19
334  0.555567      6  2017-12-20
335  0.407200      5  2017-12-21
336  0.365018     11  2017-12-22
337  0.134617      6  2017-12-23
338  0.557475      4  2017-12-24
339  0.787500      5  2017-12-25
340  0.498533      3  2017-12-26
341  0.273600      2  2017-12-27
342  0.155636     11  2017-12-28
343  0.330437      8  2017-12-29
344  0.025917      6  2017-12-30

[345 rows x 3 columns]

In [22]:
#Put all data into dataframe and export to csv file
sentiments_df = pd.DataFrame.from_dict(sentiments)
sentiments_df.head(5)

   Compound  Count        Date
0  0.068473     11  2017-01-20
1  0.436867      3  2017-01-21
2  0.244400      4  2017-01-22
3  0.493900      1  2017-01-23
4  0.354225      4  2017-01-24

In [23]:
sentiments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 0 to 344
Data columns (total 3 columns):
Compound    345 non-null float64
Count       345 non-null int64
Date        344 non-null object
dtypes: float64(1), int64(1), object(1)
memory usage: 8.2+ KB

In [24]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

df2017=pd.read_csv("2017S&P.csv")
df2017.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Avg Return
0,2017-01-03,2251.570068,2263.879883,2245.129883,2257.830078,2257.830078,3770530000,0.278029
1,2017-01-04,2261.600098,2272.820068,2261.600098,2270.750000,2270.750000,3764890000,0.404576
2,2017-01-05,2268.179932,2271.500000,2260.449951,2269.000000,2269.000000,3761820000,0.036155
3,2017-01-06,2271.139893,2282.100098,2264.060059,2276.979980,2276.979980,3339890000,0.257143
4,2017-01-09,2273.590088,2275.489990,2268.899902,2268.899902,2268.899902,3217610000,-0.206290

In [25]:
df2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 8 columns):
Date          251 non-null object
Open          251 non-null float64
High          251 non-null float64
Low           251 non-null float64
Close         251 non-null float64
Adj Close     251 non-null float64
Volume        251 non-null int64
Avg Return    251 non-null float64
dtypes: float64(6), int64(1), object(1)
memory usage: 15.8+ KB

sentiment dataframe has more dates then df2017. Since we want to see the stock market's actions on the tweet dates - lets take every date from the sentimetn df. b

In [26]:
df = sentiments_df.merge(df2017, how='left', on='Date').ffill()
df

,Compound,Count,Date,Open,High,Low,Close,Adj Close,Volume,Avg Return
0,0.068473,11,2017-01-20,2269.959961,2276.959961,2265.010010,2271.310059,2271.310059,3.524970e+09,0.059477
1,0.436867,3,2017-01-21,2269.959961,2276.959961,2265.010010,2271.310059,2271.310059,3.524970e+09,0.059477
2,0.244400,4,2017-01-22,2269.959961,2276.959961,2265.010010,2271.310059,2271.310059,3.524970e+09,0.059477
3,0.493900,1,2017-01-23,2267.780029,2271.780029,2257.020020,2265.199951,2265.199951,3.152710e+09,-0.113771
4,0.354225,4,2017-01-24,2267.879883,2284.629883,2266.679932,2280.070068,2280.070068,3.810960e+09,0.537515
5,0.058888,8,2017-01-25,2288.879883,2299.550049,2288.879883,2298.370117,2298.370117,3.846020e+09,0.414624
6,0.080818,11,2017-01-26,2298.629883,2300.989990,2294.080078,2296.679932,2296.679932,3.610360e+09,-0.084831
7,0.287157,7,2017-01-27,2299.020020,2299.020020,2291.620117,2294.689941,2294.689941,3.135890e+09,-0.188345
8,-0.090020,5,2017-01-28,2299.020020,2299.020020,2291.620117,2294.689941,2294.689941,3.135890e+09,-0.188345
9,-0.403371,7,2017-01-29,2299.020020,2299.020020,2291.620117,2294.689941,2294.689941,3.135890e+09,-0.188345
10,-0.156914,7,2017-01-30,2286.010010,2286.010010,2268.040039,2280.899902,2280.899902,3.591270e+09,-0.223538
11,-0.036433,3,2017-01-31,2274.020020,2279.090088,2267.209961,2278.870117,2278.870117,4.087450e+09,0.213283
12,0.268300,4,2017-02-01,2285.590088,2289.139893,2272.439941,2279.550049,2279.550049,3.916610e+09,-0.264266
13,0.041025,8,2017-02-02,2276.689941,2283.969971,2271.649902,2280.850098,2280.850098,3.807710e+09,0.182728
14,-0.167771,7,2017-02-03,2288.540039,2298.310059,2287.879883,2297.419922,2297.419922,3.597970e+09,0.388015
15,-0.482300,9,2017-02-04,2288.540039,2298.310059,2287.879883,2297.419922,2297.419922,3.597970e+09,0.388015
16,0.186117,6,2017-02-05,2288.540039,2298.310059,2287.879883,2297.419922,2297.419922,3.597970e+09,0.388015
17,-0.039833,6,2017-02-06,2294.280029,2296.179932,2288.570068,2292.560059,2292.560059,3.109050e+09,-0.074968
18,-0.512400,5,2017-02-07,2295.870117,2299.399902,2290.159912,2293.080078,2293.080078,3.448690e+09,-0.121524
19,0.139073,11,2017-02-08,2289.550049,2295.909912,2285.379883,2294.669922,2294.669922,3.609740e+09,0.223619
20,0.247950,8,2017-02-09,2296.699951,2311.080078,2296.610107,2307.870117,2307.870117,3.677940e+09,0.486357
21,-0.167867,3,2017-02-10,2312.270020,2319.229980,2311.100098,2316.100098,2316.100098,3.475020e+09,0.165641
22,0.453700,9,2017-02-11,2312.270020,2319.229980,2311.100098,2316.100098,2316.100098,3.475020e+09,0.165641
23,-0.136622,9,2017-02-12,2312.270020,2319.229980,2311.100098,2316.100098,2316.100098,3.475020e+09,0.165641
24,0.398700,3,2017-02-13,2321.719971,2331.580078,2321.419922,2328.250000,2328.250000,3.349730e+09,0.281258
25,0.232850,6,2017-02-14,2326.120117,2337.580078,2322.169922,2337.580078,2337.580078,3.520910e+09,0.492664
26,0.017600,11,2017-02-15,2335.580078,2351.300049,2334.810059,2349.250000,2349.250000,3.775590e+09,0.585290
27,-0.189667,6,2017-02-16,2349.639893,2351.310059,2338.870117,2347.219971,2347.219971,3.672370e+09,-0.102991
28,-0.149363,8,2017-02-17,2343.010010,2351.159912,2339.580078,2351.159912,2351.159912,3.513060e+09,0.347839
29,0.006125,4,2017-02-18,2343.010010,2351.159912,2339.580078,2351.159912,2351.159912,3.513060e+09,0.347839
...,...,...,...,...,...,...,...,...,...,...
315,-0.025733,9,2017-12-01,2645.100098,2650.620117,2605.520020,2642.219971,2642.219971,3.942320e+09,-0.108885
316,0.242975,4,2017-12-02,2645.100098,2650.620117,2605.520020,2642.219971,2642.219971,3.942320e+09,-0.108885
317,-0.279821,14,2017-12-03,2645.100098,2650.620117,2605.520020,2642.219971,2642.219971,3.942320e+09,-0.108885
318,0.041250,4,2017-12-04,2657.189941,2665.189941,2639.030029,2639.439941,2639.439941,4.023150e+09,-0.667999
319,0.666000,2,2017-12-05,2639.780029,2648.719971,2627.729980,2629.570068,2629.570068,3.539040e+09,-0.386773
320,0.419200,5,2017-12-06,2626.239990,2634.409912,2624.750000,2629.270020,2629.270020,3.229000e+09,0.115375
321,0.217589,9,2017-12-07,2628.379883,2640.989990,2626.530029,2636.979980,2636.979980,3.292400e+09,0.327201
322,0.087387,8,2017-12-08,2646.209961,2651.649902,2644.100098,2651.500000,2651.500000,3.106150e+09,0.199910
323,0.269871,14,2017-12-09,2646.209961,2651.649902,2644.100098,2651.500000,2651.500000,3.106150e+09,0.199910
324,0.002900,4,2017-12-10,2646.209961,2651.649902,2644.100098,2651.500000,2651.500000,3.106150e+09,0.199910
325,-0.934000,1,2017-12-11,2652.189941,2660.330078,2651.469971,2659.989990,2659.989990,3.091950e+09,0.294098
326,-0.112480,5,2017-12-12,2661.729980,2669.719971,2659.780029,2664.110107,2664.110107,3.555680e+09,0.089420
327,0.529880,5,2017-12-13,2667.590088,2671.879883,2662.850098,2662.850098,2662.850098,3.542370e+09,-0.177688
328,0.384214,7,2017-12-14,2665.870117,2668.090088,2652.010010,2652.010010,2652.010010,3.430030e+09,-0.519909
329,0.842775,4,2017-12-15,2660.629883,2679.629883,2659.139893,2675.810059,2675.810059,5.723920e+09,0.570548
330,0.187425,8,2017-12-16,2660.629883,2679.629883,2659.139893,2675.810059,2675.810059,5.723920e+09,0.570548
331,0.372650,2,2017-12-17,2660.629883,2679.629883,2659.139893,2675.810059,2675.810059,5.723920e+09,0.570548
332,0.435646,13,2017-12-18,2685.919922,2694.969971,2685.919922,2690.159912,2690.159912,3.724660e+09,0.157860
333,0.821540,5,2017-12-19,2692.709961,2694.439941,2680.739990,2681.469971,2681.469971,3.368590e+09,-0.417423
334,0.555567,6,2017-12-20,2688.179932,2691.010010,2676.110107,2679.250000,2679.250000,3.241030e+09,-0.332192
335,0.407200,5,2017-12-21,2683.020020,2692.639893,2682.399902,2684.570068,2684.570068,3.273390e+09,0.057773
336,0.365018,11,2017-12-22,2684.219971,2685.350098,2678.129883,2683.340088,2683.340088,2.399830e+09,-0.032780
337,0.134617,6,2017-12-23,2684.219971,2685.350098,2678.129883,2683.340088,2683.340088,2.399830e+09,-0.032780
338,0.557475,4,2017-12-24,2684.219971,2685.350098,2678.129883,2683.340088,2683.340088,2.399830e+09,-0.032780
339,0.787500,5,2017-12-25,2684.219971,2685.350098,2678.129883,2683.340088,2683.340088,2.399830e+09,-0.032780
340,0.498533,3,2017-12-26,2679.090088,2682.739990,2677.959961,2680.500000,2680.500000,1.968780e+09,0.052627
341,0.273600,2,2017-12-27,2682.100098,2685.639893,2678.909912,2682.620117,2682.620117,2.202080e+09,0.019389
342,0.155636,11,2017-12-28,2686.100098,2687.659912,2682.689941,2687.540039,2687.540039,2.153330e+09,0.053607
343,0.330437,8,2017-12-29,2689.149902,2692.120117,2673.610107,2673.610107,2673.610107,2.443490e+09,-0.577870
344,0.025917,6,2017-12-30,2689.149902,2692.120117,2673.610107,2673.610107,2673.610107,2.443490e+09,-0.577870

In [27]:
df = df.dropna(subset=['Compound'])

In [28]:
df = df.dropna(subset=['Close'])

In [32]:
df = df.dropna(subset=['Avg Return'])

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 345 entries, 0 to 344
Data columns (total 10 columns):
Compound      345 non-null float64
Count         345 non-null int64
Date          345 non-null object
Open          345 non-null float64
High          345 non-null float64
Low           345 non-null float64
Close         345 non-null float64
Adj Close     345 non-null float64
Volume        345 non-null float64
Avg Return    345 non-null float64
dtypes: float64(8), int64(1), object(1)
memory usage: 29.6+ KB

In [34]:
import os
os.getcwd()

'/Users/parinpatel/Documents/IST718/Final Project'

In [35]:
df.to_csv(r'//Users//parinpatel//Documents//IST718//Final Project//SentimentvsStocks2017.csv', index = False, header=True)